/* Fonts and vars */
:root {
    --beigeBackground: #FFF8F2;
    --greenPrimary: #335249;
    --greenSecondary: #d9e6dc;
    --red: #701D13;
    --black: #191919;
    --borderRadius: 25px; 
    --standardSpacing: 1em; 
    --largeSpacing: 2em;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* reset template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    background-color: var(--beigeBackground);
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: normal;
}

p {
    text-wrap: pretty; 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

input,
form {
    font: inherit;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

h2,
h3,
button {
    font-family: "Questrial", sans-serif;
    letter-spacing: .7rem;
}

.centerContent {
    max-width: 1440px;
    margin: 0 auto;
}

/* Navigation */
.navContainer svg {
    height: 7vh;
}
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10em;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    position: relative; 
    padding-bottom: 5px; 
    color: var(--black);
    transition: .3s ease-in-out;
}

.navLinks a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: var(--red); 
    transition: 0.3s ease;
    transform: translateX(-50%); 
}

.navLinks a:hover {
    font-size: 1.05rem;
    color: var(--red);
}

.navLinks a:hover::after {
    width: 100%;
}

/* hero section */
.heroContainer {
    margin-top: 3rem;
    margin-bottom: 10em;
}
.h1Content {
    font-size: 10em;
    display: flex;
    gap: 5rem;
    letter-spacing: .8rem;
    font-weight: 1000;
}

.greenTexth1 {
    color: var(--greenPrimary);
}

.h2Content {
    display: flex;
    gap: 2rem;
    font-size: 8em;
    margin-bottom: 2rem;
}

.h2Green {
    color: var(--greenPrimary);
}

.h3Content {
    display: flex;
    font-size: 5em;
}

.arrowDown {
    position: absolute;
    top: 95%;
    left: 51%;
    transform: translate(-95%, -51%);
}

.arrowDown i {
    color: var(--red);
    font-size: 3rem;
    transition: transform 0.5s ease;
}

.arrowDown i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}

@keyframes bounceUpAndDown {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-5px); 
    }
    100% {
        transform: translateY(0); 
    }
}

/* min profil section */

.minProfilContainer {
    padding-bottom: 5rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    gap: var(--largeSpacing);
    align-items: baseline;
}

#minProfilId {
    font-size: 2.5rem;
    text-align: center;
    background-color: var(--greenSecondary);
    padding-top: 5rem;
}

.greenFullWidth {
    background-color: var(--greenSecondary);
    width: 100vw;
}

.hvemErJeg {
    margin-top: var(--largeSpacing);
}

.hvemErJeg h4, .mineEvner h4 {
    font-size: 1.8rem; 
    font-family: "Questrial", sans-serif;
    letter-spacing: .3rem;
    margin-bottom: var(--largeSpacing);
}

.hvemErJeg p {
    max-width: 45ch;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.mineEvnerBeigeDiv {
    background-color: var(--beigeBackground);
    padding: var(--standardSpacing);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: var(--largeSpacing);
}

.mineEvnerBeigeDiv div {
    display: flex;
    width: 100%; 
    min-width: 30vw; 
    gap: var(--standardSpacing);
    justify-content: left;
    align-items: center;
    padding: 1rem 4rem;
    
}

.mineEvnerBeigeDiv svg {
    flex-shrink: 0;
    height: 100%;
    max-height: 80%; 
}

.mineEvner p {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--greenPrimary);
}

/* fade in */
.slideinAnim {
    opacity: 0; 
    transition: opacity .5s ease-in-out, transform .5s ease-in-out; 
    transform: translateY(100%); 
}
  
.animationVisible {
    opacity: 1; 
    transform: translateY(0); 
}