/* Fonts and vars */
:root {
    --beigeBackground: #fff4eb;
    --greenPrimary: #335249;
    --greenSecondary: #d9e6dc;
    --red: #701D13;
    --black: #191919;
    --borderRadius: 25px; 
    --standardSpacing: 1em; 
    --largeSpacing: 2em;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* reset template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    background-color: var(--beigeBackground);
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: normal;
}

p {
    text-wrap: pretty; 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

input,
form {
    font: inherit;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

h2,
h3
 {
    font-family: "Questrial", sans-serif;
    letter-spacing: .7rem;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: 4px solid #701D13;
    letter-spacing: .1rem;
    background-color: var(--red);
    color: var(--beigeBackground);
    text-align: center;
    border-radius: 8px;
    padding: .8rem 2rem;
    transition: .3s ease-in-out;
}

button:hover {
    color: var(--red);
    background-color: var(--beigeBackground);
}

button a:hover {
    color: var(--red);
}

.centerContent {
    max-width: 1340px;
    margin: 0 auto;
}

/* Navigation */
.navContainer svg {
    height: 7vh;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000; 
    background-color: var(--beigeBackground); 
    padding: 1rem;
}

.navLinks ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6em;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    position: relative; 
    font-size: .8rem;
    letter-spacing: .3rem;
    padding-bottom: 5px; 
    color: var(--black);
    transition: .3s ease-in-out;
}

.navLinks a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: var(--red); 
    transition: 0.3s ease;
    transform: translateX(-50%); 
}

.navLinks a:hover {
    transform: scale(108%);
    color: var(--red);
}

.navLinks a:hover::after {
    width: 100%;
} 

.logoNav img {
    height: 6vh;
}

/* hero section */
.heroContainer {
    margin-top: 3rem;
    margin-bottom: 10em;
    position: relative;
}
.h1Content {
    font-size: 10em;
    display: flex;
    gap: 5rem;
    letter-spacing: .8rem;
    font-weight: 1000;
}

.greenTexth1 {
    color: var(--greenPrimary);
}

.h2Content {
    display: flex;
    gap: 2rem;
    font-size: 8em;
    margin-bottom: 2rem;
}

.h2Green {
    color: var(--greenPrimary);
}

.h3Content {
    display: flex;
    font-size: 5em;
    position: relative;
}

.arrowDown {
    position: absolute;
    top: 115%;
    left: 51%;
    transform: translate(-95%, -51%);
}

.arrowDown i {
    color: var(--red);
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.arrowDown i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}

@keyframes bounceUpAndDown {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-5px); 
    }
    100% {
        transform: translateY(0); 
    }
}

/* min profil section */

.minProfilContainer {
    padding-bottom: 6rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    gap: var(--largeSpacing);
    align-items: baseline;
    position: relative;
}

#minProfilId {
    font-size: 2.5rem;
    text-align: center;
    background-color: var(--greenSecondary);
    padding-top: 5.3rem;
}

.greenFullWidth {
    background-color: var(--greenSecondary);
    max-width: 100vw;
}

.beigeFullWidth {
    background-color: var(--beigeBackground);
    max-width: 100vw;
    position: sticky;
    top: 0;
    z-index: 100;
}

.hvemErJeg {
    margin-top: var(--largeSpacing);
}

.hvemErJeg h4, .mineEvner h4 {
    font-size: 1.8rem; 
    font-family: "Questrial", sans-serif;
    letter-spacing: .3rem;
    margin-bottom: var(--largeSpacing);
}

.hvemErJeg p {
    max-width: 45ch;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.mineEvnerBeigeDiv {
    background-color: var(--beigeBackground);
    padding: var(--standardSpacing);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: var(--largeSpacing);
}

.mineEvnerBeigeDiv div {
    display: flex;
    width: 100%; 
    min-width: 30vw; 
    gap: var(--standardSpacing);
    justify-content: left;
    align-items: center;
    padding: 1rem 4rem;
    
}

.mineEvnerBeigeDiv svg {
    flex-shrink: 0;
    height: 100%;
    max-height: 80%; 
}

.mineEvner p {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--greenPrimary);
}

.arrowUp {
    position: absolute;
    top: 95%;
    left: 51%;
    transform: translate(-95%, -51%);
}

.arrowUp i {
    color: var(--red);
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.arrowUp i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}

/* fade in */
.slideSideY {
    opacity: 0; 
    transition: opacity .5s ease-in-out, transform .5s ease-in-out; 
    transform: translateY(100%); 
}
  
  .animationVisibleUp {
    opacity: 1; 
    transform: translateY(0); 
  }

.slideinAnim {
    opacity: 0; 
    transition: opacity .5s ease-in-out, transform .5s ease-in-out; 
    transform: translateY(100%); 
}
  
.animationVisible {
    opacity: 1; 
    transform: translateY(0); 
}

/* cases */
#casesId {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5rem;
}

.caseunderOverskrift {
    text-align: center;
    margin-top: var(--standardSpacing);
    font-size: 1.4rem;
}

.caseContentContainer {
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
    padding-bottom: var(--largeSpacing);
}

.caseImg img {
    max-height: 70vh;
    width: auto;
    border-radius: 10px;
}

.caseTextContent ul {
    display: flex;
    gap: 4rem;
    justify-content: center;
    width: fit-content;
    align-items: center;
    margin-bottom: var(--largeSpacing);
    background-color: var(--greenSecondary);
    padding: 1rem 1.5rem;
    border-radius: 100px;
}

.caseTextContent li {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 1rem;
}

.caseTitle {
    font-size: 2rem;
    letter-spacing: .7rem;
    margin-bottom: var(--standardSpacing);
}

.caseText{
    max-width: 50ch;
}

.caseTwoImg img {
    height: auto;
    width: 70vw;
    border-radius: 20px;
}

.caseThreeImg img {
    height: auto;
    width: 65vw;
    border-radius: 20px;
}

.casesContainer {
    position: relative;
}

.arrowUpCase {
    position: absolute;
    top: 103%;
    left: 51%;
    transform: translate(-102%, -51%);
}

.arrowUpCase i {
    color: var(--red);
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.arrowUpCase i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}

/* Kontaktform med vue */

.kontaktContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    position: relative;
}

#kontaktId {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5rem;
}

.contactForm {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    background-color: var(--beigeBackground);
    padding: 20px;
    padding-bottom: 6rem;
    border-radius: 10px;
    width: 40vw;
    margin-top: 4rem;
    position: relative;
  }

  .contactForm label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: .3rem;
    margin-top: 10px;
    display: block;
  }

  .contactForm input,
  .contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    font-weight: 400;
  }

  .contactForm textarea {
    height: 80px;
    resize: none;
  }

  .contactForm button {
    padding: 10px;
    width: 30%;
    color: var(--beigeBackground);
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contactForm button:hover {
    color: var(--red);
  }

.arrowUpKontakt{
    position: absolute;
    top: 95%;
    left: 51%;
    transform: translate(-102%, -51%);
}

.arrowUpKontakt i {
    color: var(--red);
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.arrowUpKontakt i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}
/* footer */
footer {
    padding: 3rem 0;
}
footer h4 {
    font-size: 1.5rem;
    letter-spacing: .5rem;
    margin: 1rem 0;
    padding-top: 2rem;
}

footer li {
    list-style-type: none;
}

footer i {
    color: var(--red);
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerVærdier li {
    width: 40ch;
    margin: 1rem 0;
}

.footerVærdier i {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.kontaktInfoFooter li {
    margin-bottom: 2rem;
}

.kontaktInfoFooter i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.socialsFooter {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.socialsFooter i {
    font-size: 2.5rem;
    color: var(--red);
    transition: .3s ease-in-out;
}

.socialsFooter i:hover {
    transform: scale(120%);
}

/* blå festival underside case */
.heroTextContent h1 {
    font-size: 4em;
}

.heroSectionTitle {
    color: var(--greenPrimary);
}

.heroTextContent ul {
    display: flex;
    gap: 4rem;
    justify-content: center;
    width: fit-content;
    align-items: center;
    margin-top: var(--largeSpacing);
    margin-bottom: var(--largeSpacing);
    background-color: var(--greenSecondary);
    padding: 1rem 1.5rem;
    border-radius: 100px;
}

.heroTextContent li {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 1rem;
}

.heroBtnCase a {
    color: var(--beigeBackground);
}

.heroBtnCase i {
    margin-right: .5rem;
}

.heroBtnContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:var(--standardSpacing)
}

.heroImgCase {
    max-width: 1350;
    margin: 0 auto;
}

.heroImgCase img {
    height: auto;
    width: 48vw;
    border-radius: 20px;
    position: absolute;
    left: 45%;
    top: 17%
} 

.heroCaseContentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--standardSpacing);
    position: relative;
    margin-bottom: 20rem;
}

.heroTextContent p {
    max-width: 50ch;
}
/* Lokal nav */

.lokalNavUl {
    position: fixed;
    top: 10%;
    z-index: 99;
    left: -100%;
    transition: 0.7s cubic-bezier(0.65, -0.25, 0.35, 1.2);
}

.isVisible {
    left: -2%; 
}

.lokalNavUl ul {
    background-color: var(--beigeBackground);
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem 2.5rem;
    border-radius: var(--borderRadius);
    width: fit-content;
}

.lokalNavUl li, a {
    list-style: none; 
    color: var(--red);
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-left: .5rem;
    transition: .3s ease-in-out;
}

.lokalNavUl li:hover {
    transform: scale(115%);
    cursor: pointer;
    color: var(--red);
}

.lokalNavUl i {
    font-size: 1.5rem;
}

.lokalNavUl h4 {
    font-size: 1.5rem;
    letter-spacing: .3rem;
    margin-left: .5rem;
}

/* case section content */
.specifikCaseContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}
.specificCaseTextContent h3 {
    font-size: 2rem;
    letter-spacing: 1.5rem;
    text-align: center;
    margin-bottom: var(--standardSpacing);
}

.specificCaseTextContent p {
    max-width: 70ch;
    font-size: 1.1rem;
    line-height: 150%;
}

.specificCaseImageContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.specificCaseImageContent img {
    border-radius: var(--borderRadius);
    max-height: 38vh;
    width: auto;
}

.specificCaseTextContent img {
    border-radius: var(--borderRadius);
    max-height: 50vh;
    width: auto;
    margin-left: 5rem;
    margin-bottom: var(--largeSpacing);
}

.specificCaseImageContentCSS {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.specificCaseImageContentCSS img {
    border-radius: var(--borderRadius);
    width: auto;
    max-height: 50vh;
}

.heroImgCaseBlåFestival {
    max-width: 1350;
    margin: 0 auto;
}

.heroImgCaseBlåFestival  img {
    width: auto;
    height: 45vw;
    border-radius: 20px;
    position: absolute;
    left: 55%;
    top: 1%
} 

/* Blå festival */
.specificCaseImageContentUX img {
    border-radius: var(--borderRadius);
    height: auto;
    max-width: 65vw;
}

.specificCaseImageContentPersona img {
    border-radius: var(--borderRadius);
    height: auto;
    max-width: 45vw;
}

.specificCaseImageContentUI img {
    border-radius: var(--borderRadius);
    height: auto;
    max-width: 75vw;
}

.specificCaseImageContentTest img {
    border-radius: var(--borderRadius);
    height: auto;
    max-width: 55vw;
}

.specificCaseImageCode {
    display: flex;
    justify-content: space-between;
    margin: unset;
}

.specificCaseImageCode img {
    border-radius: var(--borderRadius);
    height: auto;
    max-width: 70vw;
}

.specificCaseTextContentCode h3 {
    font-size: 2rem;
    letter-spacing: 1.5rem;
    text-align: center;
    margin-bottom: var(--standardSpacing);
}

.specificCaseTextContentCode p {
    max-width: 70ch;
    font-size: 1.1rem;
    line-height: 150%;
}

.specificCaseTextContentCode {
    gap: 1rem;
}

.specificCaseTextContentCode img {
    border-radius: var(--borderRadius);
    max-height: 38vh;
    width: auto;
}

.specificCaseTextContentCode img {
    border-radius: var(--borderRadius);
    max-height: 55vh;
    width: auto;
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
} 

.arrowUpCase {
    position: absolute;
    top: 1000%;
    left: 49%;
    transform: translate(-0%, -51%);
}

.arrowUpCase i {
    color: var(--red);
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.arrowUpCase i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}

.arrowUpIndex
{
    position: absolute;
    top: 100%;
    left: 49%;
    transform: translate(-0%, -51%);
}

.arrowUpIndex
i {
    color: var(--red);
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.arrowUpIndex
i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}

.arrowDownCase {
    position: absolute;
    top: 90%;
    left: 51%;
    transform: translate(-95%, -51%);
}

.arrowDownCase i {
    color: var(--red);
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.arrowDownCase i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}

.arrowUpCaseNoti {
    position: absolute;
    top: 620% ;
    left: 49%;
    transform: translate(-100%, -49%);
}

.arrowUpCaseNoti i {
    color: var(--red);
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.arrowUpCaseNoti i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}

/* The boulevard Tattoo */
.heroImgCaseBoulevard {
    max-width: 1350;
    margin: 0 auto;
}

.heroImgCaseBoulevard img {
    height: auto;
    width: 38vw;
    border-radius: 20px;
    position: absolute;
    left: 60%;
    top: 17%
} 

.specificCaseImageContentTatMockup img {
    border-radius: 10px; 
    max-height: 110vh;
    width: auto;
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
} 

.specificCaseImageContentTatMockup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.specificCaseImageContentTatHTML img {
    border-radius: 10px; 
    max-height: 70vh;
    width: auto;
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
}

.specificCaseImageContentTatCSS img {
    border-radius: 10px; 
    max-height: 40vh;
    width: auto;
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
}

.specificCaseImageContentTatJSFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standardSpacing);
}

.specificCaseImageContentTatCSSFlex img {
    border-radius: 10px; 
    max-height: 30vw;
    width: auto;
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
}

.specificCaseImageContentMedia img {
    border-radius: var(--borderRadius); 
    max-height: 80vh;
    width: auto;
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
}

.specificCaseImageContentTatJS img {
    border-radius: 10px; 
    max-height: 65vh;
    width: auto;
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
}

.specificCaseImageContentTatJSFlex img {
    border-radius: 10px; 
    max-height: 42vh;
    width: auto;
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
}

.specificCaseImageContentTatJSFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standardSpacing);
}

.arrowUpCaseTat {
    position: absolute;
    top: 1293%;
    left: 51%;
    transform: translate(-102%, -51%);
}

.arrowUpCaseTat i {
    color: var(--red);
    font-size: 2rem;
    transition: transform 0.5s ease;
}

.arrowUpCaseTat i:hover {
    animation: bounceUpAndDown 0.7s infinite alternate;
}

/* accordion på index.html */

.accordion {
    width: 60%;
    margin: 0 auto;
    padding: 5rem;
}

.accordion-item {
    margin-bottom: 2rem;
}

.accordion-header {
    background-color: inherit;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: .3rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.accordion-header:hover {
    font-size: 1.25rem;
    color: #701D13;
}

.accordion-content {
    background-color: inherit;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    line-height: 3rem;
    transition: 0.6s ease-out;
}

.accordion-item.open .accordion-content {
    max-height: 500px;
    opacity: 1;
}

.accordion-header .icon {
    font-size: 20px;
    transition: 0.4s ease-in-out;
}

.accordion-header.open .icon {
    transform: rotate(45deg); 
}

/* side transitions */
body {
    opacity: 1;
}

/* media queries and burgermenu */
.burgerMenu {
    display: none; 
    cursor: pointer;
}

/* Media query til mobile view */
@media (max-width: 768px) {
    .accordion {
        width: 100vw;
        padding-bottom: unset;
        padding: 2rem;
    }

    .burgerMenu {
        display: block;
    }

    .navLinks {
        display: none;
        flex-direction: column; 
        position: absolute; 
        background: white; 
        width: 50%; 
        top: 70px; 
        right: 10px;
        z-index: 10; 
        padding: 2rem 0; 
        border-radius: 10px;
        box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.13);
    }

    .navLinks.open {
        display: flex;
        align-items: flex-end;
    }

    .navLinks ul {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 2rem;
        gap: 2rem;
    }

    .navLinks li {
        margin: 1px 0;
    }

    /* heroSection index */
    .heroContainer {
        margin-top: 8rem; 
        margin-bottom: 5em; 
    }

    .navContainer {
        position: fixed;
    }

    .h1Content,
    .h2Content,
    .h3Content {
        display: block;
        margin: 1rem 0; 
    }

    .h1Content h1 {
        font-size: 3rem; 
        gap: 0;
        text-align: left;
        margin-left: 3rem;
    }

    .h2Content h2 {
        font-size: 2.5rem; 
        gap: 0; 
        text-align: left;
        margin-left: 3rem;
    }

    .h3Content h2 {
        font-size: 1.5rem; 
        text-align: left;
        margin-left: 3rem;
    }

    .minProfilContainer {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: unset;
    }

    .greenFullWidth {
        padding-bottom: 2rem;
    }

    .caseContentContainer {
        margin-bottom: 2rem;
    }

    footer {
        padding: 1rem;
    }

    .casesContainer, .kontaktContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        margin: 0 5%;
    }

    .caseStudyButton {
        margin: 0 auto;
    }

    h1, h2, h3, h4 {
        text-align: center;
    }

    footer {
        padding: 4rem 0; 
    }
    
    .footerContainer {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        margin: 0 5%;
        padding: 3rem 0rem;
    }

    .footerVærdier li, 
    .kontaktInfoFooter li {
        width: auto; 
        margin: 1rem 0; 
    }

    .socialsFooter {
        text-align: center;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        margin-top: 1rem;
    }

    .footerVærdier i, 
    .kontaktInfoFooter i {
        font-size: 1.5rem; 
    }

    footer h4 {
        font-size: 1.2rem; 
    }

    .caseTextContent ul {
        width: 90vw;
        gap: 1em
    }

    .caseTextContent ul li {
        font-size: .8rem;
    }

   .caseContentContainer {
    gap: 0;
   }

   .caseTextContent {
    max-width: 90vw;
   }

   .caseTitle {
    font-size: 1.2em;
   }

   .arrowDown, .arrowDownCase, .arrowUpIndex, .arrowUp, .arrowUpKontakt {
    display: none;
   }

   .contactForm {
    width: 90vw;
    margin: 0 auto;
    padding: 1.5rem;
    }

    .contactForm button {
    width: 100%; 
    padding: 10px; 
    margin-top: 2rem; 
    position: relative;
    }

    #kontaktId {
    font-size: 2rem;
    margin-bottom: 2rem;
    }

    /* the Boulevard case */
    .heroImgCaseBoulevard img {
        width: 100vw;
        left: 0%;
        top: 10%;
    }

    .heroCaseContentContainer {
        margin-bottom: 3rem;
    }

    .heroTextContent h1 {
        font-size: 1.8rem;
    }

    .heroSectionTitle {
        margin-top: 10rem;
    }

    .specificCaseTextContent h3 {
        font-size: 2rem;
        margin-top: 1rem;
        letter-spacing: .2rem;
    }

    .heroBtnContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        margin: 0 auto;
    }

    .heroTextContent {
        margin: 5%;
    }

    .heroTextContent ul {
        width: 90vw;
        gap: 1em;
    }

    .heroTextContent ul li {
        font-size: .8rem;
    }

    .specificCaseImageContentTatMockup, 
    .specificCaseImageContentTatHTML, 
    .specificCaseImageContentTatCSS,
    .specificCaseImageContentTatJS {
        display: block; 
        width: 100%; 
        margin: 0 auto;
    }

    .specificCaseImageContentTatJSFlex {
        display: flex;
        flex-direction: column;
    }

    .specificCaseImageContentTatCSSFlex img {
        max-height: unset;
    }
    
    .specificCaseTextContent {
        margin-bottom: var(--largeSpacing);
        width: 100%;
    }

    
    .arrowUpCaseTat {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }

    .specificCaseImageContentTatMockup img, 
    .specificCaseImageContentTatHTML img,
    .specificCaseImageContentTatCSS img, 
    .specificCaseImageContentTatJS img, 
    .specificCaseImageContentTatJSFlex img {
        width: 100%; 
        height: auto;
    }

    
    .specificCaseImageContentTatMockup, 
    .specificCaseImageContentTatHTML,
    .specificCaseImageContentTatCSS {
        display: block;
        justify-content: center;
        align-items: center;
    }

    
    .heroBtnContainer a {
        display: block;
        margin-bottom: 1rem;
        width: 100%;
    }

    /* blå festival media queries */
    .arrowUpCase i {
        top: 100%;
    }

    .specificCaseTextContentCode p {
        margin: 0 5%;
    } 

    .specificCaseTextContentCode img {
        max-height: unset;
        margin-top: 1rem;
        max-width: 90vw;
    }

    .specificCaseImageContent img {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .specificCaseTextContentCode h3 {
        font-size: 2rem;
        letter-spacing: .2rem;
    }

    .specificCaseImageContentTest img,
    .specificCaseImageContentUI img,
    .specificCaseImageContentPersona img,
    .specificCaseImageContentUX img {
        max-width: 95vw;
    }

    .heroImgCaseBlåFestival img {
        height: 50vh;
        top: 6%;
        left: 15%;
    }

    .heroTextContent {
        margin-top: 300px;
    }

    .greenFullWidth {
        min-width: 100vw;
        margin: unset !important;
    } 

    .caseTitle {
        letter-spacing: .2rem;
        font-size: 1.5rem;
    }

    .specificCaseTextContent p {
        margin: 1rem;
    }

    .specifikCaseContentContainer{
        margin: 0 5%;
    } 

    .arrowUpCaseTat {
        display: none;
    }

    .navContainer {
        max-width: 100vw;
    }

    /* notifkationsside */
    .heroImgCase img {
        width: 90vw;
        top: 10%;
        left: 5%;
    }

    .specificCaseImageContent,
    .specificCaseImageContentCSS {
        flex-direction: column;
    } 

    .specificCaseTextContent img {
        margin-left: unset;
        margin-top: 1rem;
    } 

    .arrowUpCaseNoti {
        left: 52%;
        top: 607%;
    }
}