<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Min portfolio indeholder eksempler og beskrivelser af mit arbejde, igennem min uddannelse. Cases med fokus på brugervenlighed kan ses her."
    />
    <title>Ben Nielsen - Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../assets/js/script.js" defer></script>
    <script src="https://unpkg.com/vue@3" defer></script>
  </head>

  <body>
    <header id="toTop">
      <div class="navContainer centerContent">
        <div class="logoNav">
          <a href="./index.html">
            <img src="../assets/images/logo.png" alt="portfolio logo" />
          </a>
        </div>
        <div class="navLinks">
          <ul>
            <li><a href="#minProfilId">MIN PROFIL</a></li>
            <li><a href="#casesId">CASES</a></li>
            <li><a href="#kontaktId">KONTAKT</a></li>
          </ul>
        </div>
      </div>

      <section class="heroContainer centerContent">
        <div class="h1Content">
          <h1>BEN</h1>
          <h1 class="greenTexth1">NIELSEN</h1>
        </div>
        <div class="h2Content">
          <h2 class="h2Green">Front-end</h2>
          <h2>Udvikler</h2>
        </div>
        <div class="h2Content">
          <h2 class="h2Green">UX/UI</h2>
          <h2>Designer</h2>
        </div>
        <div class="h3Content">
          <h2 class="h2Green">Aalborg,</h2>
          <h2>Danmark</h2>
        </div>

        <div class="arrowDown centerContent">
          <a href="#minProfilId"><i class="fa-solid fa-chevron-down"></i></a>
        </div>
      </section>
    </header>

    <main>
      <h3 id="minProfilId">MIN PROFIL</h3>
      <div class="greenFullWidth">
        <section class="minProfilContainer slideinAnim centerContent">
          <article class="hvemErJeg">
            <h4>HVEM ER JEG?</h4>
            <p>
              Jeg er en front-end udvikler med fokus på at skabe brugervenlige
              og visuelt tilfredsstillende grænseflader. Jeg er nysgerrig,
              kreativ og jeg forsøger altid at udvide min viden og forbedre mine
              færdigheder.
            </p>
            <p>
              Min baggrund som udlært tatovør har givet mig en god forståelse
              for design og æstetik og samtidig understreget vigtigheden af
              samarbejdet med kunden omkring udarbejdelse af produktet. Det
              bidrager alt sammen til mine færdigheder og min passion for
              webdesign.
            </p>
            <p>
              Min erfaring har givet mig evenere til at arbejde selvstændigt,
              planlægge min tid optimalt og forstå vigtigheden af
              prioriteringer. Resultatet er altid i sidste ende, at skabe
              brugercentreret produkter af høj kvalitet.
            </p>
          </article>
          <article class="mineEvner">
            <h4 class="mineEvner">MINE EVNER</h4>

            <div class="mineEvnerBeigeDiv">
              <div class="kodeEvner">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="126"
                  height="123"
                  viewBox="0 0 126 123"
                  fill="none"
                >
                  <path
                    d="M111.408 76.6016V27.4792C111.408 15.8986 111.408 10.1144 107.878 6.51619C104.348 2.91797 98.6727 2.91797 87.3107 2.91797H39.1153C27.7533 2.91797 22.0783 2.91797 18.548 6.51619C15.0177 10.1144 15.0177 15.8986 15.0177 27.4792V76.6016M11.9934 82.834L15.1381 76.6016H111.119L114.433 82.834C123.126 99.1795 125.295 107.352 121.987 113.468C118.68 119.584 109.926 119.584 92.4073 119.584H34.0187C16.4936 119.584 7.73414 119.584 4.43276 113.468C1.12535 107.352 3.29414 99.1795 11.9934 82.834Z"
                    stroke="black"
                    stroke-width="5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M84.2985 30.5495L89.841 35.4187C92.1724 37.4635 93.3351 38.4889 93.3351 39.7599C93.3351 41.031 92.1724 42.0564 89.841 44.1011L84.2985 48.9704M42.1276 30.5495L36.5851 35.4187C34.2537 37.4635 33.0909 38.4889 33.0909 39.7599C33.0909 41.031 34.2537 42.0564 36.5851 44.1011L42.1276 48.9704M69.2375 24.4092L57.1886 55.1107"
                    stroke="black"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <p>HTML og CSS</p>
                <p>JavaScript</p>
                <p>Vue.JS</p>
              </div>

              <div class="designEvener">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="132"
                  height="133"
                  viewBox="0 0 132 133"
                  fill="none"
                >
                  <path
                    d="M13.75 49.875H118.25M71.5 72.0416H93.5M71.5 94.2083H82.5M38.5 33.25H38.5495M60.5 33.25H60.5495M49.5 49.875V119.146M13.75 66.5C13.75 41.6844 13.75 29.271 21.4005 21.5626C29.051 13.8541 41.3655 13.8541 66 13.8541C90.629 13.8541 102.949 13.8541 110.599 21.5626C118.25 29.271 118.25 41.6788 118.25 66.5C118.25 91.3155 118.25 103.729 110.599 111.437C102.949 119.146 90.6345 119.146 66 119.146C41.371 119.146 29.051 119.146 21.4005 111.437C13.75 103.729 13.75 91.3211 13.75 66.5Z"
                    stroke="black"
                    stroke-width="5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <p>UI Design</p>
                <p>Brugercentreret design</p>
                <p>Funktionalitet</p>
              </div>

              <div class="researchEvner">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="133"
                  height="133"
                  viewBox="0 0 133 133"
                  fill="none"
                >
                  <path
                    d="M94.2092 66.5V94.2092M72.0408 94.2092V83.125M16.625 83.125L32.3084 67.4416M44.3342 38.7908C39.925 38.7908 35.6964 40.5423 32.5786 43.6601C29.4608 46.7779 27.7092 51.0065 27.7092 55.4158C27.7092 59.825 29.4608 64.0536 32.5786 67.1714C35.6964 70.2892 39.925 72.0408 44.3342 72.0408C48.7434 72.0408 52.9721 70.2892 56.0899 67.1714C59.2077 64.0536 60.9592 59.825 60.9592 55.4158C60.9592 51.0065 59.2077 46.7779 56.0899 43.6601C52.9721 40.5423 48.7434 38.7908 44.3342 38.7908Z"
                    stroke="#191919"
                    stroke-width="5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M44.3342 16.625H110.834C112.304 16.625 113.713 17.2088 114.752 18.2479C115.791 19.287 116.375 20.6963 116.375 22.1658V110.834C116.375 112.304 115.791 113.713 114.752 114.752C113.713 115.791 112.304 116.375 110.834 116.375H44.3342C43.6064 116.375 42.8856 116.232 42.213 115.954C41.5405 115.676 40.9294 115.268 40.4146 114.753C39.8998 114.239 39.4914 113.628 39.2128 112.955C38.9342 112.283 38.7908 111.562 38.7908 110.834V94.2092"
                    stroke="#191919"
                    stroke-width="5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <p>UX Research</p>
                <p>Brugertests</p>
                <p>OOUX</p>
              </div>
            </div>
          </article>
          <div class="arrowUp">
            <a href="#toTop">
              <i class="fa-solid fa-chevron-up"></i>
            </a>
          </div>
        </section>
      </div>

      <section class="casesContainer centerContent">
        <h3 id="casesId">CASES</h3>
        <h4 class="caseunderOverskrift">
          Her præsenteres et udvalg af tidligere projektet, med tilhørende
          casestudy.
        </h4>

        <article class="caseOne">
          <div class="caseContentContainer">
            <div class="caseTextContent">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>UX/UI Design</li>
              </ul>
              <h4 class="caseTitle">FULD GRÆNSEFLADE - THE BOULEVARD TATTOO</h4>
              <p class="caseText">
                The Boulevard Tattoo er en tatoveringsbutik med mange års
                erfaring, beliggende i Aalborg.
              </p>
              <p class="caseText">
                The Boulevard Tattoos eksisterende hjemmeside, optrådte
                mangelfuld på flere parametre, og var ikke blevet opdateret i
                omkring 10 år. Vores problemstilling beskriver hvordan man kan
                hæve både funktionalitet, brugervenlighed og design, samtidig
                med at vi matcher butikkens digitale tilstedeværelse, med den
                stemning, værdier og brand deres fysiske butik repræsenterer.
              </p>
              <p class="caseText">
                Vores mål var er omfavne overstående og levere en moderne,
                intuitiv og brugercentreret grænseflade, hvor fokus var lever et
                produkt, der stemte overens med butikkens overall branding og
                stil
              </p>
              <a href="./boulevardTattoo.html">
                <button class="caseStudyButton">TIL CASE STUDY</button></a
              >
            </div>
            <div class="caseThreeImg">
              <img
                src="../assets/images/boulevardScreen.png"
                alt="Notifikationselement"
              />
            </div>
          </div>
        </article>

        <article class="caseOne">
          <div class="caseContentContainer">
            <div class="caseImg">
              <img
                src="../assets/images/webapptelfon1.png"
                alt="Webapp blå festival"
              />
            </div>
            <div class="caseTextContent">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>UX/UI Design</li>
              </ul>
              <h4 class="caseTitle">WEBAPP - DEN BLÅ FESTIVAL</h4>
              <p class="caseText">
                Den Blå Festival er en årlig jazz og blues festival, som finder
                sted i Aalborg i August
              </p>
              <p class="caseText">
                Vores problemstilling beskriver hvordan Den Blå Festivals
                program findes som trykt, fysisk program og som PDF format på
                den nuværende hjemmesiden, stort set en direkte kopi af det
                trykte.
              </p>
              <p class="caseText">
                Det er ikke en optimal løsning og begge mangler digital binding
                mellem koncerter og program. Derfor vil vi skabe en brugervenlig
                grænseflade, der hjælper brugerne med nemt og hurtigt at finde
                den information de søger, både før, under og efter festivalen.
              </p>
              <a href="./blaFestival.html">
                <button class="caseStudyButton">TIL CASE STUDY</button></a
              >
            </div>
          </div>
        </article>

        <article class="caseOne">
          <div class="caseContentContainer">
            <div class="caseTextContent">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
              </ul>
              <h4 class="caseTitle">KOMPONENT - NOTIFIKATIONSSIDE</h4>
              <p class="caseText">
                Ud fra allerede eksisterende styleguide og high definition
                statisk mockup fra frontendmentor.io, realiseres her en
                notifikationsside, som skal ses som en del af et større website.
              </p>
              <p class="caseText">
                Her bliver der altså kun programmet denne specifikke del af den
                fulde side, med fokus på at skabe funktionalitet med vanilla
                JavaScript, semantisk og tilgængeligt HTML og genanvendelig CSS.
                Derudover kan det færdig produkt ses korrekt på både desktop og
                mobile viewport.
              </p>
              <a href="./notifications.html">
                <button class="caseStudyButton">TIL CASE STUDY</button></a
              >
            </div>
            <div class="caseTwoImg">
              <img
                src="../assets/images/screenNotification.png"
                alt="Notifikationselement"
              />
            </div>
          </div>
        </article>

        <div class="arrowUpCase">
          <a href="#toTop">
            <i class="fa-solid fa-chevron-up"></i>
          </a>
        </div>
      </section>

      <div class="greenFullWidth">
        <h3 id="kontaktId">KONTAKT</h3>
        <section class="kontaktContainer centerContent">
          <div id="app">
            <div class="contactForm">
              <form @submit.prevent="submitForm">
                <label for="name">NAVN:</label>
                <input type="text" id="name" v-model="formData.name" required />

                <label for="email">E-MAIL:</label>
                <input
                  type="email"
                  id="email"
                  v-model="formData.email"
                  required
                />

                <label for="message">BESKED:</label>
                <textarea
                  id="message"
                  v-model="formData.message"
                  required
                ></textarea>
                <button type="submit">Kontakt</button>
              </form>
            </div>
          </div>

          <script defer>
            let app = Vue.createApp({
              data() {
                //sætter formen til at være tom ved pageload
                return {
                  formData: {
                    name: "",
                    email: "",
                    message: "",
                  },
                };
              },
              methods: {
                submitForm() {
                  //alert til form
                  alert(
                    `Name: ${this.formData.name}\nEmail: ${this.formData.email}\nMessage: ${this.formData.message}`
                  );
                  // Nulstiller form efter den er sendt
                  this.formData.name = "";
                  this.formData.email = "";
                  this.formData.message = "";
                },
              },
            });

            app.mount("#app");
          </script>
          <div class="arrowUpKontakt">
            <a href="#toTop">
              <i class="fa-solid fa-chevron-up"></i>
            </a>
          </div>
        </section>
      </div>
    </main>

    <footer class="centerContent">
      <h4 class="footerTitle">BEN NIELSEN</h4>
      <article class="footerContainer">
        <ul class="footerVærdier">
          <li>
            <i class="fa-solid fa-code"></i>
            Tiltalende front-end med analytisk tilgang og effektiv
            kommunikation
          </li>
          <li>
            <i class="fa-solid fa-code"></i>
            En nysgerrig og kreativ medarbejder, som altid udvider sin viden
            og færdigheder
          </li>
        </ul>
        <ul class="kontaktInfoFooter">
          <li>
            <i class="fa-solid fa-envelope"></i>benjamin.nielsen12345@gmail.com
          </li>
          <li><i class="fa-solid fa-phone"></i>+45 50 42 68 95</li>
        </ul>
        <ul class="socialsFooter">
          <li>
            <a
              href="https://www.linkedin.com/in/benjaminnielsen4627/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/benj4627?tab=stars"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-github"></i
            ></a>
          </li>
        </ul>
      </article>
    </footer>
  </body>
</html>
