<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Min portfolio indeholder eksempler og beskrivelser af mit arbejde, igennem min uddannelse. Cases med fokus på brugervenlighed kan ses her."
    />
    <title>Ben Nielsen - Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../assets/js/script.js" defer></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  </head>

  <body>
    <div class="beigeFullWidth">
      <div class="navContainer centerContent">
        <div class="logoNav">
          <a href="./index.html">
            <img src="../assets/images/logo.png" alt="portfolio logo" />
          </a>
        </div>

        <button class="burgerMenu" aria-label="Menu" @click="toggleMenu">
          <i class="fa-solid fa-bars"></i>
        </button>

        <div class="navLinks" :class="{ open: isOpen }">
          <ul>
            <li><a href="./index.html#minProfilId">MIN PROFIL</a></li>
            <li><a href="./index.html#casesId">CASES</a></li>
            <li><a href="./index.html#kontaktId">KONTAKT</a></li>
          </ul>
        </div>
      </div>
    </div>
    <header id="toTop">
        <!-- vue script til burgermenu -->
        <script defer>
          const appNav = Vue.createApp({
            data() {
              return {
                isOpen: false, // Boolean til at styre, om menuen er åben eller lukket
              };
            },
            methods: {
              toggleMenu() {
                this.isOpen = !this.isOpen; // Skifter menuens tilstand
              },
            },
          });
          appNav.mount(".navContainer"); //monterer vue til navContainer
        </script>
      <section class="heroContainer centerContent slideSideY">
        <div class="h1Content">
          <h1>BEN</h1>
          <h1 class="greenTexth1">NIELSEN</h1>
        </div>
        <div class="h2Content">
          <h2 class="h2Green">Front-end</h2>
          <h2>Udvikler</h2>
        </div>
        <div class="h2Content">
          <h2 class="h2Green">UX/UI</h2>
          <h2>Designer</h2>
        </div>
        <div class="h3Content">
          <h2 class="h2Green">Aalborg,</h2>
          <h2>Danmark</h2>
        </div>

        <div class="arrowDown centerContent">
          <a href="#minProfilId"><i class="fa-solid fa-chevron-down"></i></a>
        </div>
      </section>
    </header>

    <main>
      <h3 id="minProfilId">MIN PROFIL</h3>
      <div class="greenFullWidth">
        <div id="accordion"></div>
      </div>

      <!-- script til dropdown sektion -->
      <script>
        const { createApp, reactive } = Vue;

        createApp({
          setup() {
            const sections = reactive([
              {
                title: "HVEM ER JEG?",
                content:
                  "Jeg er en front-end udvikler med fokus på at skabe brugervenlige og visuelt tilfredsstillende grænseflader. Jeg er nysgerrig, kreativ og jeg forsøger altid at udvide min viden og forbedre mine evner. Jeg har færdigheder med HTML, CSS, JavaScript, Vue.js, Figma og teknisk SEO. Fokus er altid i sidste ende på brugercentreret design hvor funktionalitet er i førersædet. ",
                open: false,
              },
              {
                title: "BAGGRUND",
                content:
                  "Min baggrund som udlært tatovør har givet mig en god forståelse for design og æstetik og samtidig understreget vigtigheden af samarbejdet med kunden omkring udarbejdelse af produktet. Det bidrager alt sammen til mine færdigheder og min passion for webdesign. Min erfaring har givet mig evnerne til at arbejde selvstændigt, planlægge min tid optimalt og forstå vigtigheden af prioriteringer. Resultatet er altid i sidste ende, at skabe brugercentreret produkter af høj kvalitet.",
                open: false,
              },
              {
                title: "TING JEG ELSKER",
                content:
                  "Når jeg har fri fra arbejde og uddannelse, finder i mig som regel hjemme med enten en god bog, film eller en god soul plade og et glas vin. Derudover prøver jeg at løbe en tur når tiden tillader det også går nok også et par timer foran computeren engang imellem.",
                open: false,
              },
            ]);

            const toggleSection = (index) => {
              sections[index].open = !sections[index].open;
            };

            return { sections, toggleSection };
          },
          template: `
      <div class="accordion">
        <div v-for="(section, index) in sections" :key="index" class="accordion-item" :class="{ open: section.open }">
          <div class="accordion-header" @click="toggleSection(index)">
            <span>{{ section.title }}</span>
            <span class="icon">{{ section.open ? '−' : '＋' }}</span>
          </div>
          <div v-bind:class="{'accordion-content': true, 'open': section.open}">
            <p>{{ section.content }}</p>
          </div>
        </div>
      </div>
    `,
        }).mount("#accordion");
      </script>

      <section class="casesContainer centerContent">
        <h3 id="casesId">CASES</h3>
        <h4 class="caseunderOverskrift">
          Her vises et udvalg af tidligere projektet, med tilhørende casestudy.
        </h4>

        <article class="caseOne">
          <div class="caseContentContainer">
            <div class="caseTextContent">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>UX/UI Design</li>
              </ul>
              <h4 class="caseTitle">FULD GRÆNSEFLADE - THE BOULEVARD TATTOO</h4>
              <p class="caseText">
                The Boulevard Tattoo er en tatoveringsbutik med mange års
                erfaring, beliggende i Aalborg.
              </p>
              <p class="caseText">
                The Boulevard Tattoos eksisterende hjemmeside, optrådte
                mangelfuld på flere parametre, og var ikke blevet opdateret i
                omkring 10 år. Vores problemstilling beskriver hvordan man kan
                hæve både funktionalitet, brugervenlighed og design, samtidig
                med at vi matcher butikkens digitale tilstedeværelse, med den
                stemning, værdier og brand deres fysiske butik repræsenterer.
              </p>
              <p class="caseText">
                Vores mål var er omfavne overstående og levere en moderne,
                intuitiv og brugercentreret grænseflade.
              </p>
              <a href="./boulevardTattoo.html">
                <button class="caseStudyButton">TIL CASE STUDY</button></a
              >
            </div>
            <div class="caseThreeImg">
              <img
                src="../assets/images/boulevardScreen.png"
                alt="Notifikationselement"
              />
            </div>
          </div>
        </article>

        <article class="caseOne">
          <div class="caseContentContainer">
            <div class="caseImg">
              <img
                src="../assets/images/webapptelfon1.png"
                alt="Webapp blå festival"
              />
            </div>
            <div class="caseTextContent">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>UX/UI Design</li>
              </ul>
              <h4 class="caseTitle">WEBAPP - DEN BLÅ FESTIVAL</h4>
              <p class="caseText">
                Den Blå Festival er en årlig jazz og blues festival, som finder
                sted i Aalborg i August
              </p>
              <p class="caseText">
                Vores problemstilling beskriver hvordan Den Blå Festivals
                program findes som trykt, fysisk program og som PDF format på
                den nuværende hjemmesiden, stort set en direkte kopi af det
                trykte.
              </p>
              <p class="caseText">
                Det er ikke en optimal løsning og begge mangler digital binding
                mellem koncerter og program. Derfor vil vi skabe en brugervenlig
                grænseflade, der hjælper brugerne med nemt og hurtigt at finde
                den information de søger, både før, under og efter festivalen.
              </p>
              <a href="./blaFestival.html">
                <button class="caseStudyButton">TIL CASE STUDY</button></a
              >
            </div>
          </div>
        </article>

        <article class="caseOne">
          <div class="caseContentContainer">
            <div class="caseTextContent">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
              </ul>
              <h4 class="caseTitle">KOMPONENT - NOTIFIKATIONSSIDE</h4>
              <p class="caseText">
                Ud fra allerede eksisterende styleguide og high definition
                statisk mockup fra frontendmentor.io, realiseres her en
                notifikationsside, som skal ses som en del af et større website.
              </p>
              <p class="caseText">
                Her bliver der altså kun programmet denne specifikke del af den
                fulde side, med fokus på at skabe funktionalitet med vanilla
                JavaScript, semantisk og tilgængeligt HTML og genanvendelig CSS.
              </p>
              <a href="./notifications.html">
                <button class="caseStudyButton">TIL CASE STUDY</button></a
              >
            </div>
            <div class="caseTwoImg">
              <img
                src="../assets/images/screenNotification.png"
                alt="Notifikationselement"
              />
            </div>
          </div>
        </article>

        <div class="arrowUpIndex">
          <a href="#toTop">
            <i class="fa-solid fa-chevron-up"></i>
          </a>
        </div>
      </section>

      <div class="greenFullWidth">
        <h3 id="kontaktId">KONTAKT</h3>
        <section class="kontaktContainer centerContent">
          <div id="app">
            <div class="contactForm">
              <form @submit.prevent="submitForm">
                <label for="name">NAVN:</label>
                <input type="text" id="name" v-model="formData.name" required />

                <label for="email">E-MAIL:</label>
                <input
                  type="email"
                  id="email"
                  v-model="formData.email"
                  required
                />

                <label for="message">BESKED:</label>
                <textarea
                  id="message"
                  v-model="formData.message"
                  required
                ></textarea>
                <button type="submit">Kontakt</button>
              </form>
            </div>
          </div>

          <script defer>
            let app = Vue.createApp({
              data() {
                //sætter formen til at være tom ved pageload
                return {
                  formData: {
                    name: "",
                    email: "",
                    message: "",
                  },
                };
              },
              methods: {
                submitForm() {
                  //alert til form
                  alert(
                    `Name: ${this.formData.name}\nEmail: ${this.formData.email}\nMessage: ${this.formData.message}`
                  );
                  // Nulstiller form efter den er sendt
                  this.formData.name = "";
                  this.formData.email = "";
                  this.formData.message = "";
                },
              },
            });

            app.mount("#app");
          </script>
          <div class="arrowUpKontakt">
            <a href="#toTop">
              <i class="fa-solid fa-chevron-up"></i>
            </a>
          </div>
        </section>
      </div>
    </main>

    <footer class="centerContent">
      <div class="logoNav">
        <a href="./index.html">
          <img src="../assets/images/logo.png" alt="portfolio logo" />
        </a>
      </div>
      <article class="footerContainer">
        <ul class="footerVærdier">
          <li>
            <i class="fa-solid fa-code"></i>
            Tiltalende front-end med analytisk tilgang og effektiv kommunikation
          </li>
          <li>
            <i class="fa-solid fa-code"></i>
            En nysgerrig og kreativ medarbejder, som altid udvider sin viden og
            færdigheder
          </li>
        </ul>
        <ul class="kontaktInfoFooter">
          <li>
            <i class="fa-solid fa-envelope"></i>benjamin.nielsen12345@gmail.com
          </li>
          <li><i class="fa-solid fa-phone"></i>+45 50 42 68 95</li>
        </ul>
        <ul class="socialsFooter">
          <li>
            <a
              href="https://www.linkedin.com/in/benjaminnielsen4627/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/benj4627?tab=stars"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa-brands fa-github"></i
            ></a>
          </li>
        </ul>
      </article>
    </footer>
  </body>
</html>
